/*
// Main
main {
    padding: $section-padding;
    font-family: $regularFont;
    font-weight: 400;
    overflow: hidden;
    position: relative;
    
    @media (min-width: $tablet) {
        position: static;
    }
}

// ===========================================================================
// Home Page - Mobile Version

// Inner Grid - Movie Details
figure {
    margin: 0;
}
.movies {
    margin: 25px 25px;
}
.movie-poster {
    grid-area: movie-poster;
    height: auto;
    width: 100%;
}

.movie-title {
    grid-area: movie-title;
    font-weight: 700;
    font-size: 0.9em;
    text-transform: uppercase;
    margin: 5px 0px;

    a {
        color: $bodyFont;
    }

    a:hover {
        color: $lilac;
        transition-duration: 0.4s;
    }
}
.movie-genre {
    grid-area: movie-genre;
    margin: 5px 0px 0px 0px;
    font-size: 0.8em;
}
.movie-date {
    grid-area: movie-date;
    margin: 10px 0px 0px 0px;
    font-size: 0.8em;
}
.movie-rating {
    grid-area: movie-rating;
    font-size: 0.9em;
    color: $bodyFont;
    padding: 10px 5px;
    margin: 0px 10px 0px 0px;
    border: 3px solid $green;
    width: 45px;
    height: 45px;
    text-align: center;
}
.movie-runtime {
    grid-area: movie-runtime;
    font-size: 0.8em;
    padding-top: 10px;
}
.movie-container {
    max-width: 247px;
    margin: 25px;
}
.movie-info {
    display: flex;
    align-items: flex-start;
}
.movie-title-genre-and-date {
    flex: 1;
}
.movie-rating-and-runtime {
    width: 50px;
}
.desktop-movie-grid {
    display: grid;
    grid-template-areas:
        "movie-01"
        "movie-02"
        "movie-03"
        "movie-04"
        "movie-05"
        "movie-06"
        "movie-07"
        "movie-08"
        "movie-09"
        "movie-10"
        "movie-11"
        "movie-12";
}

// ===========================================================================
// Desktop Version
@media only screen and (min-width: $tablet) {
    p {
        font-size: 1.2em;
    }
    h2 {
        font-size: 2.5em;
    }

    //Shift Desktop Movie grids up 
    .desktop-movie-grid {
        margin-top: -25px;
    }

    // Home Page - Desktop Version
    // Outer Grid - 12 Movies
    .movie-01 {
        grid-area: movie-01;
    }
    .movie-02 {
        grid-area: movie-02;
    }
    .movie-03 {
        grid-area: movie-03;
    }
    .movie-04 {
        grid-area: movie-04;
    }
    .movie-05 {
        grid-area: movie-05;
    }
    .movie-06 {
        grid-area: movie-06;
    }
    .movie-07 {
        grid-area: movie-07;
    }
    .movie-08 {
        grid-area: movie-08;
    }
    .movie-09 {
        grid-area: movie-09;
    }
    .movie-10 {
        grid-area: movie-10;
    }
    .movie-11 {
        grid-area: movie-11;
    }
    .movie-12 {
        grid-area: movie-12;
    }
    .movie-container {
        margin: 0px;
    }
    .desktop-movie-grid {
        display: grid;
        grid-template-areas:
            "movie-01 movie-02 movie-03 movie-04 movie-05 movie-06"
            "movie-07 movie-08 movie-09 movie-10 movie-11 movie-12";
    }
}
// ===========================================================================
// Tablet Version
@media only screen and (min-width: $mobile) and (max-width: $desktop) {
    // Home Page - Tablet Version
    .desktop-movie-grid {
        display: grid;
        grid-template-areas:
            "movie-01 movie-02 movie-03"
            "movie-04 movie-05 movie-06"
            "movie-07 movie-08 movie-09"
            "movie-10 movie-11 movie-12";
    }
}
*/