// Side Menu Styling
/* main {
    .side-menu-main {
        margin-left: 0px;
        margin-top: 0px;
        background-color: $darkLilac;
        width: 140px;

        .side-logo {
            width: 180px;
        }
    }

    .side-menu-main img {
        width: 50px;
    }

    .side-logo-button {
        width: 50px;
    }

    .side-menu-search-icon {
        width: 100px;
    }
}
 */
